@media only screen and (max-width:1374px){
  .fifth-section__fifth-item{
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

  .fifth-section__boy-img{
    width: 445px;
    height: 445px;
    order: -1;
  }
  
}

@media only screen and (max-width:930px){
  .fifth-section__image-list{
    position: relative;
    margin-left: auto;
    margin-top: 50px;
    order: -2;
    margin: 0 auto;
  }

  .fifth-section__heading-list{
    width: 100%;
    max-width: 445px;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
  }

  .fifth-section__heading-list::before{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    content: url(/images/boy-img-after-strelka.svg);
    margin-top: 70px;
  }
}

@media only screen and (max-width:475px){

  .site-main__fifth-section{
    position: relative;
    transform: translateY(-80px);
  }
  .fifth-section__boy-img{
    width: 445px;
    height: 445px;
    display: none;

  }
  .fifth-section__boy-img-mobile{
    width: 311px;
    height: 311px;
    margin: 0 auto;
    order: -2;
    margin-left: -60px;
  }

  .fifth-section__heading-list{
    width: 100%;
    max-width: 445px;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    transform: scale(0.8);
  }

  .fifth-section__heading-list::before{
   display: none;
  }

  .fifth-section__heading-list{
    width: 100%;
    max-width: 445px;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    transform: scale(0.8);
    margin-top: -50px;
  }
}
@media only screen and (min-width:475px){
  .fifth-section__boy-img-mobile{
    display: none;
  }
}
@media only screen and (max-width:420px){
  .fifth-section__boy-img-mobile{
    width: 311px;
    height: 311px;
    margin: 0 auto;
    order: -2;
    margin-left: -15px;
    transform: scale(0.9);
  }
  .fifth-section__heading-list{
    width: 100%;
    max-width: 445px;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    transform: scale(0.8);
    margin-top: -70px;
  }
}
@media only screen and (max-width:360px){
  .fifth-section__boy-img-mobile{
    width: 311px;
    height: 311px;
    margin: 0 auto;
    order: -2;
    margin-left: -20px;
  }
}


.site-main__fifth-section{
  position: relative;
  margin-top: 100px;
}

.fifth-section__fifth-item{
  display: flex;
  align-items: center;
  list-style: none;
}

.fifth-section__heading-list{
  width: 100%;
  max-width: 445px;
  order: -1;
}

.fifth-section__heading{
  font-family: Space Mono, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.fifth-section__paragraph{
  font-family: Lexend Deca, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px
}

.fifth-section__link{
  @include repeat-links;

}

.fifth-section__link:hover{
  @include repeat-links-hover;
}

.fifth-section__image-list{
  position: relative;
  margin-left: auto;
  margin-top: 50px;
}

.fifth-section__boy-img{
  width: 445px;
  height: 445px;
}

.fifth-section__heading-list::before{
  position: absolute;
  z-index: 10;
  top: -130px;
  right: 0;
  content: url(/images/fifth-section-strelka.svg);
  transform: translateY(260px);
}