@media only screen and (max-width:700px){
  .site-header__links{
    display: none;
  }

  .site-header__link-list{
    display: none;
  }

  
  .site-header__logo-list{
    width: 100%;
    max-width: 108px;
    height: 29px;
    margin: 0 auto;
  }
}
@media only screen and (min-width:701px){
  .site-header__navbar-list{
    display: none;
  }
}


.site-header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #FFFFFF;
  padding: 10px 0;
}

.site-header__container{
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header__item{
  display: flex;
  align-items: center;
  list-style: none;
}

.site-header__logo-list{
  display: flex;
  align-items: center;
}

.site-header__logo{
  width: 100%;
  max-width: 108px;
	height: 29px;
}

.site-header__links{
  @include header-and-footer-link;
}
.site-header__links:hover{
  @include header-and-footer-link-hover;
}
.site-header__links + .site-header__links{
  @include header-and-footer-link__header-and-footer-link;
}
.site-header__links + .site-header__links:hover{
  @include header-and-footer-link__header-and-footer-link-hover;
}

.site-header__link-list{
  width: 100%;
  max-width: 185px;
  margin-left: auto;
}

.site-header__link{
  @include repeat-links;
}
.site-header__link:hover{
 @include repeat-links-hover;
}
