.third-section__third-item{
  display: flex;
  align-items: center;
  list-style: none;
}

.third-section__heading-list{
  width: 100%;
  max-width: 445px;
}

.third-section__heading{
  font-family: Space Mono, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.third-section__paragraph{
  font-family: Lexend Deca, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-bottom: 40px
}

.third-section__link{
  @include repeat-links;

}

.third-section__link:hover{
  @include repeat-links-hover;
}

.third-section__image-list{
  position: relative;
  margin-left: auto;
  margin-top: 50px;
}

.third-section__boy-img{
  width: 445px;
  height: 445px;
}

.third-section__heading-list::before{
  position: absolute;
  z-index: 10;
  right: 0;
  content: url(/images/boy-img-after-strelka.svg);
  transform: translateY(100px);
}